@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
/* Top level and general styling */
:root {
    --bright-blue: rgb(0, 162, 255);
    --light-blue: rgb(165, 213, 218);
    --blue-shade: rgb(132, 177, 182);
    --dark-blue: rgb(1, 0, 83);
    --yellow: rgb(250, 214, 10);
    --off-white: rgb(235, 227, 227);
    --off-white-filter: invert(84%) sepia(29%) saturate(33%) hue-rotate(314deg) brightness(99%) contrast(104%);
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
}
:focus{
    outline: none;
}

.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
    height: 100vh;
}

/* Sidebar styling */
.sidebar {
    grid-area: 1 / 1 / 3 / 2;
    display: grid;
    grid-template-rows: 1fr 3fr 5fr;
    padding: 20px;
    background-color: var(--bright-blue);
    color: var(--off-white);
}

.sidebar #logo {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 20px;
    align-items: center;
}

.sidebar #logo .icon {
    height: 3em;
    width: 3em;
}

.sidebar h1 {
    font-size: 1.7em;
    font-weight: 700;
    display: inline;
}

.sidebar img {
    filter: var(--off-white-filter);
}

.sidebar a {
    text-decoration: none;
    color:var(--off-white);
}

.sidebar ul li a {
    display: grid;
    grid-template-columns: 40px 1fr;
    align-items: center;
    margin-bottom: 15px;
    font-weight: 600;
    font-size: 1.1em;
}

.sidebar ul li a:focus {
    border: var(--off-white) 1px dotted;
}

.sidebar ul li a:hover {
    color: var(--dark-blue);
}

.header {
    padding: 20px 40px 20px 30px;
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-template-rows: 3fr 4fr;
    row-gap: 30px;
}

.content {
    padding: 20px;
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.projects {
    grid-area: 1 / 1 / 3 / 2;
}