@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
/* Top level and general styling */
:root {
    --bright-blue: rgb(0, 121, 190);
    --light-blue: rgb(244, 247, 248);
    --blue-shade: rgb(75, 129, 134);
    --dark-blue: rgb(1, 0, 83);
    --yellow: rgb(250, 214, 10);
    --off-white: rgb(235, 227, 227);
    --off-white-filter: invert(84%) sepia(29%) saturate(33%) hue-rotate(314deg) brightness(99%) contrast(104%);
    --dark-blue-filter: invert(6%) sepia(70%) saturate(5674%) hue-rotate(222deg) brightness(92%) contrast(138%);
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
}
:focus{
    outline: none;
}

.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
    height: 100vh;
}

/* General avatar styling */
.avatar {
    height: 50px;
    width: 50px;
    object-fit: cover;
    border-radius: 50%;
    object-position: 0 -2%;
}

/* Sidebar styling */
.sidebar {
    grid-area: 1 / 1 / 3 / 2;
    display: grid;
    grid-template-rows: 1fr 3fr 5fr;
    padding: 20px;
    background-color: var(--bright-blue);
    color: var(--off-white);
}

.sidebar #logo {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 20px;
    align-items: center;
}

.sidebar #logo .icon {
    height: 3em;
    width: 3em;
}

.sidebar h1 {
    font-size: 1.7em;
    font-weight: 700;
    display: inline;
}

.sidebar img {
    filter: var(--off-white-filter);
}

.sidebar a {
    text-decoration: none;
    color:var(--off-white);
}

.sidebar ul li a {
    display: grid;
    grid-template-columns: 40px 1fr;
    align-items: center;
    margin-bottom: 15px;
    font-weight: 600;
    font-size: 1.1em;
}

.sidebar ul li a:focus {
    border: var(--off-white) 1px dotted;
}

.sidebar ul li a:hover {
    color: var(--dark-blue);
    transform: scale(0.99);
}

.sidebar ul li a:hover img {
    filter: var(--dark-blue-filter);
}

/* Header styling */
.header {
    padding: 20px 40px 20px 30px;
    display: grid;
    grid-template-columns: 3fr minmax(350px, 2fr);
    grid-template-rows: 1fr 1fr;
    row-gap: 30px;
    box-shadow: 1px 1px 10px var(--blue-shade);
    z-index: 1;
}

.search {
    display: grid;
    grid-template-columns: 1fr 15fr;
    align-items: center;
}

.search input {
    height: 2.5em;
    background-color: var(--light-blue);
    border: none;
    border-radius: 1.3em;
    padding: 1em;
}

.search input:hover,
.search input:focus {
    box-shadow: 0 1px 5px var(--blue-shade);
}

#top-right-icons {
    display: grid;
    grid-template-columns: 2fr 2fr 5fr;
    align-items: center;
    text-align: right;
}

#top-right-icons img {
    margin-left: 70px;
}

#top-right-icons span {
    font-size: 1.2em;
    font-weight: 700;
}

#greeting {
    display: grid;
    grid-template-columns: minmax(80px, 1fr) 6fr;
    grid-template-rows: 1fr 2fr;
}

#greeting .avatar {
    grid-row: 1 / 3;
    transform: scale(1.5);
}

#greeting h6 {
    font-weight: 600;
    align-items: end;
}

#greeting h2 {
    grid-area: 2 / 2 / 3 / 3;
    font-size: 1.6em;
    font-weight: 600;
}

#nav-buttons .btn {
    background-color: var(--bright-blue);
    margin: 10px;
    padding: 10px 15px;
    border: none;
    font-size: 1.1em;
    color: white;
    font-weight: 600;
    width: 6em;
    border-radius: 500px;
}

#nav-buttons .btn:hover {
    opacity: 0.9;
    transform: scale(0.98);
}

#nav-buttons .btn:focus {
    border: var(--off-white) 1px dotted;
}

/* Main content styling below */
.content {
    padding: 20px;
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: 1fr 1fr;
    background-color: var(--light-blue);
}

/* Projects styling section first */
.projects-container {
    grid-area: 1 / 1 / 3 / 2;
}

.content h3 {
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 1.4em;
    font-weight: 600;
}

.projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 20px;
    grid-template-rows: repeat(2, 1fr);
    padding-right: 20px;
}

.project {
    box-shadow: 1px 2px 5px var(--blue-shade);
    border-radius: 10px;
    padding: 30px 20px 10px 40px;
    display: grid;
    transition: 100ms;
    background-image: linear-gradient(left, var(--yellow), var(--yellow) 10px, white 10px, white 100%);
    background-image: -webkit-linear-gradient(left, var(--yellow), var(--yellow) 10px, white 10px, white 100%);
}

.project:hover {
    transform: scale(1.01);
    box-shadow: 0 0 10px var(--blue-shade);
}

.project h4 {
    font-size: 1.3em;
    font-weight: 600;
    margin-bottom: 7px;
}

.project p {
    opacity: 0.8;
    padding-right: 25px;
    margin-bottom: 20px;
}

.project .project-buttons {
    justify-self: end;
    align-self: end;
}

.project .project-buttons img {
    padding-left: 20px;
}

.project .project-buttons img:focus {
    border: var(--off-white) 1px dotted;
}

.project .project-buttons img:hover {
    transform: scale(0.98);
    filter: drop-shadow(0 0 2px var(--blue-shade));
}

/* Announcement section */
.announcements ul {
    padding: 20px;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 10px;
    background-color: white;
    box-shadow: 1px 2px 5px var(--blue-shade);
}

.announcement:not(:last-of-type) {
    padding-bottom: 10px;
    border-bottom: 1px solid var(--bright-blue)
}

.announcement h5 {
    font-size: 0.9em;
    font-weight: 600;
}

.announcement p {
    font-size: 0.8em;
    display: -webkit-box;
    max-width: 200px;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
}